
<%- include('../compartido/estilos-generales/estilos-generales-component')%>


<!-- horario/crear.agenda.ejs-->
<% const existeHorario = typeof horario != 'undefined'%>

<% let existeHoraInicio = typeof hora_inicio !== 'undefined' %>
<% let existeHoraFinal = typeof hora_final !== 'undefined' %>
<% let existeDia= typeof dia !== 'undefined' %>



<h1> <%= existeHorario ? 'EDITAR' : 'CREAR'%> HORARIO</h1>

<% if(typeof error !== 'undefined') { %>
    <p>MENSAJE ERROR: <%= error %></p>
<% } %>

<!-- Setear los datos para editar-->
<%if(existeHorario){%>

    <% existeHoraInicio = true %>
    <% existeHoraFinal = true %>
    <% existeDia = true %>

    <% hora_inicio = horario.hora_inicio %>
    <% hora_final = horario.hora_final %>
    <% dia = horario.dia %>

<%}%>
<h2> Ingrese Los Datos Correspondientes</h2>

<form action="<%= existeHorario ? '/horario/editarDesdeVista/' + horario.idHorario : '/horario/crearDesdeVista' %>"
      method="POST">

    <div class="form-group">
    <label class="h4" for="diaID">Dia:</label>
    <input id="diaID" class="form-control" type="text" name="dia" value="<%= existeDia ? dia : '' %>">
    <br>
    </div>
    <div class="form-group">
    <label class="h4" for="hora_inicioID">Hora de Inicio:</label>
    <input id="hora_inicioID"  class="form-control" type="text" name="hora_inicio" value="<%= existeHoraInicio ? hora_inicio : '' %>">
    <br>
    </div>
    <div class="form-group">
    <label class="h4" for="hora_finalID">Hora de Finalizacion:</label>
    <input id="hora_finalID" class="form-control" type="text" name="hora_final" value="<%= existeHoraFinal ? hora_final : '' %>">
    <br>
    </div>

    <button type="submit" class="btn btn-secondary">AGENDAR</button>
    <button type="reset" class="btn btn-secondary">RESET</button>

    <a href="/horario/vista/agendar">
        <button class="btn btn-secondary" type="button">ATRAS</button>
    </a>


</form>

<%- include('../compartido/pie-de-pagina')%>